body {
    background-color: #ffc;
}

h2 {
	color: #ffc;
    background-color: #39F;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: left;
    letter-spacing: 0.1em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #00F;
    border-top-style: solid;
    border-top-width: 0.5em;
    border-top-color: #00F;
}

table {
    background-color: #ccc;
}

input[type=text] {
    width: 190px;
}

input[type=button] {
    width: 100%;
    height: 100%;
}

#scientific {
    position: absolute;
    top: 120px;
    left: 10px;
    width: 40px;
}

#basic {
    position: absolute;
    top: 120px;
    left: 10px;
    margin-left: 45px;
    width: 125px;
}

#EqualsButton {
    height: 100%;
    background-color: white;
}