<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCat - <%= room %></title>
	<link rel="stylesheet" href="/css/chatroomStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://widget.cloudinary.com/global/all.js"></script>
	<script>
		$(() => {
			let socket = io('<%= host %>' + '/chatter', {
				transports: ['websocket']
			});
			let roomID = '<%= roomID %>';
			let userName = '<%= user.fullName %>';
			let userPic = '<%= user.profilePic %>';
			let chatUsers = $('.chatUsers');
			let chatInput = $("input[name='userInput']");
			let chatMessagesDiv = $('.chatMessages');
			let filePicker = $('#uploadFile');

			socket.on('connect', () => {
				socket.emit('join', {
					roomID,
					userName,
					userPic
				});
			});

			// For each element of list, fill in user data
			let userList = user => {
				return `<div class="userBlock">
					<div class="userPic"><img src="${user.userPic}" alt="${user.userName}"></div>
					<div class="cuserName">${user.userName}</div>
					</div>`;
			}

			socket.on('updateUsersList', data => {
				let parsedData = JSON.parse(data);
				let usersListData = '';
				// Add users to list
				for (let user of parsedData) {
					usersListData += userList(user);
				}
				// Clear out list, then append current list
				chatUsers.html('').html(usersListData);
			});

			// Update message feed
			let updateFeed = (userPic, message) => {
				let template = `<div class="chatBlock">
					<div class="userPic"><img src="${userPic}"></div>
					<div class="chatMsg">${message}</div>
					</div>`;
				$(template).hide().prependTo(chatMessagesDiv).slideDown(200);
			}

			// Send message when enter key pressed
			chatInput.on('keyup', function(evt) {
				// Prevent browser's default behavior
				evt.preventDefault();
				let messageFld = $(this);
				// True if enter key pressed and text field not empty
				if(evt.which === 13 && messageFld.val() !== '') {
					socket.emit('newMessage', {
						roomID,
						userName,
						userPic,
						message: messageFld.val()
					});
					// Update the local feed
					updateFeed(userPic, messageFld.val());
					// Empty the field
					messageFld.val('');
				}
			});

			// Update feed for everyone else
			socket.on('inMessage', data => {
				let parsedData = JSON.parse(data);
				updateFeed(parsedData.userPic, parsedData.message);
			});

			// When 'Photo' button clicked, use Cloudinary to upload files
			filePicker.on('click', function(evt) {
				cloudinary.openUploadWidget({
					cloud_name: 'dwang733chatcat',
					upload_preset: 'ectkmerl'
				}, (error, result) => {
					if (!error) {
						// Append images
						let tmp = '';
						for (let img of result) {
							tmp += `<img src="${img.url}">`;
						}
						// Update feed for self and other users
						updateFeed(userPic, tmp);
						socket.emit('newMessage', {
							roomID,
							userName,
							userPic,
							message: tmp
						});
					}
				});
			});
		});
	</script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatCAT | <%= room %></h1>
		</div>
		<div class="controls">
			<div class="userPicHolder"><img src="<%= user.profilePic %>" alt="<%= user.fullName %>"></div>
			<p class="userName"><%= user.fullName %></p>
			<a href="/rooms" id="roomsBtn">Rooms</a>
			<a href="/logout" id="logOutBtn">Logout</a>
		</div>
		<div class="chatListDiv">
			<div class="chatMessagesPanel">
				<div class="chatMessages">
				<!-- Loop this for chat messages -->			
				<!-- loop end -->
				</div>
				<div class="typePanel">
					<input type="text" name="userInput" placeholder="Type here and press enter">
					<a href="#" id="uploadFile" class="fileUploadBtn">Photo</a>
				</div>
			</div>
			<div class="chatUsers">
			<!-- Loop this for chat users -->

			<!-- loop end -->
			</div>
		</div>
	</div>
</body>
</html>